.vscode
output/*.txt
*.bin
avgdl
indexer
parser
query
*.tsv
check_index
verify_passage
test
*.h5
*.faiss
*.json
/hw3
*.DS_Store
*.trec
/Users/ad12/Documents/Develop/wse-hw-2/vector_search/__pycache__
query_processor
/data